:root{
  --green: #46A630;
  --green2: #74BC64;
  --green3: #A2D397;
  --green4: #327F20;
  --white: #fff;
  --black: rgb(56,56,56);
  --gray: #737373;
  --grey: #E0E0E0;
  --bg: #F5F5F5;
  --red: #E73333;
  --purple: #56124C;
  --purple2: #852B78;
  --purple3: #882079;
  --purple4: #962E86;

  --easy: all 0.2s linear;
  --bs: 0px 0px 10px rgba(56,56,56, 0.2);
  --bsa: 0px 10px 20px rgba(104, 104, 104, 0.03), 0px 5px 15px rgba(104, 104, 104, 0.03), 0px 22px 17px rgba(104, 104, 104, 0.03), 0px 12px 10px rgba(104, 104, 104, 0.04), 0px 6px 5px rgba(104, 104, 104, 0.06), 0px 3px 2px rgba(104, 104, 104, 0.07);
}